body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(217, 217, 217, 1);
}

.div-2 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: auto;
    align-self: stretch;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgba(79, 116, 113, 1);
}

.div-3 {
    display: flex;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(50% - 10px);
    margin-left: 0px;
    height: 100%;
}

.title {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-family: "IBM Plex Serif", sans-serif;
    margin-left: 20px;
    height: 100%;
}

.login-register {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    text-align: right;
    font-family: "IBM Plex Serif", sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.text {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-emphasis: none;
    color: rgb(255, 255, 255, 1);
}

.div-5 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: auto;
    align-items: center;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: rgba(217, 217, 217, 1);
}

.div-6 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: auto;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgba(217, 217, 217, 1);
}

.div-7 {
    max-width: 100%;
    align-self: stretch;
    width: auto;
    color: rgba(79, 116, 113, 1);
    font-size: 64px;
    text-align: left;
    font-family: "IBM Plex Serif", sans-serif;
}

.div-8 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: auto;
    height: auto;
    align-items: flex-start;
    margin-top: 10px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    background-color: rgba(217, 217, 217, 1);
}

.problemLink {
    max-width: 100%;
    align-self: stretch;
    width: auto;
    margin-top: 10px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    text-align: left;
    font-weight: bold;
    font-family: "IBM Plex Serif", sans-serif;
}

.subtitle {
    margin-top: 10px;
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "IBM Plex Serif", sans-serif;
    font-weight: bold;
}

.insideText {
    max-width: 100%;
    align-self: stretch;
    width: 1860px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "IBM Plex Serif", sans-serif;
}

.code {
    width: 100%;
}

.codeArea {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: black;
    color: white;
    font-family: "IBM Plex Serif", sans-serif;
    font-size: 28px;
}

.codeArea::placeholder {
    font: 28px "IBM Plex Serif", sans-serif;
}