<!DOCTYPE html>
<html>

<head>
    <title>JudgeMan</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='problemSets.css') }}">
</head>

<body>
    <div class="div-2">
        <div class="div-3">
            <div class="column">
                <div class="title">
                    <p class="text">Judge Man</p>
                </div>
            </div>
            <div class="column">
                <div class="login-register">
                    {% if not is_login %}
                    <a class="text" href="{{ url_for('account.login')}}">Login/Register</a>
                    {% else %}
                    <form method="post">
                        <input type="submit" class="text" value="Logout">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="div-5">
        <div class="div-6">
            <div class="div-7">ProblemSet</div>
            <div class="div-8">
                {% for problemSet in problemSets %}
                <div class="problemLink" href="{{ url_for('problemSet', problemSet['id']) }}">{{ problemSets['title'] }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>