<!DOCTYPE html>
<html>

<head>
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body class="div">
    <form method="post" class="div-2">
        <div class="div-3">登入</div>
        <div class="div-4">輸入帳號名稱及密碼</div>
        <div class="div-5">
            <div class="div-6">電子郵件
            </div>
            <input type="text" class="form-text-area" placeholder="請輸入帳號" name="email">
        </div>
        <div class="div-5">
            <div class="div-6">密碼</div>
            <input type="password" class="form-text-area" placeholder="請輸入密碼" name="password"></input>
        </div>

        {% if error != None %}
        <div class="error">{{ error }}</div>
        {% endif %}

        <div class="div-10">
            <a class="link" href="{{ url_for('account.register') }}">註冊</a>
        </div>
        <input type="submit" class="div-11" value="登入">
    </form>
</body>

</html>