<!DOCTYPE html>
<html>

<head>
    <title>JudgeMan</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
</head>

<body style="width: 100%; margin: 0; padding: 0;">
    <div class="div-2">
        <div class="div-3">
            <div class="column">
                <div class="title">
                    <a class="text", href="{{ url_for('home.index')}}">Judge Man</a>
                </div>
            </div>
            <div class="column">
                <div class="login-register">
                    {% if current_user.is_authenticated %}
                    <a class="text" href="{{ url_for('account.logout')}}">Logout</a>
                    {% else %}
                    <a class="text" href="{{ url_for('account.login')}}">Login/Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="div-5">
        <div class="div-6">
            <div class="div-7">{{ problemSet.title }}</div>
            <div class="div-8">
            {% for problem in subProblems %}
            <a class="problemLink" href="{{ url_for('problem.singleProblem', problemId=problem.id) }}">{{ problem.title }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>