{% extends "base.html" %}

{% block content %}
<div class="div-5">
	<div class="div-6">
		<div class="div-7">{{ problem.title }}</div>
		<div class="subtitle">Description</div>
		<div class="insideText">
			{{ problem.taskDescription }}
		</div>
		<div class="subtitle">Input Format</div>
		<div class="insideText">
			{{ problem.inputFormat }}
		</div>
		<div class="subtitle">Output Format</div>
		<div class="insideText">
			{{ problem.outputFormat }}
		</div>
		{% for index in range(sampleLen) %}
			<div class="subtitle">Sample Input</div>
			<pre class="insideText">{{ sampleInput[index] }}</pre>
			<div class="subtitle">Sample Output</div>
			<pre class="insideText">{{ sampleOutput[index] }}</pre>
		{% endfor %}
		{% if problem.hint %}
			<div class="subtitle">Hint</div>
			<div class="insideText">
				{{ problem.hint }}
			</div>
		{% endif %}
		{% if result != None %}
			{% if result == 'AC' %}
			<div class="subtitle" style="color:green">Result</div>
			{% else %}
			<div class="subtitle" style="color:red">Result</div>
			<pre class="insideText">{{ input }}</pre>
			<pre class="insideText">{{ output }}</pre>
			{% endif %}
		{% endif %}

		<form method="post" class="code">
			<textarea name="code" cols="30" rows="10" placeholder="Enter your code here"></textarea>
			<input type="submit" value="Submit", name="submit", class="subtitle">
		</form>
	</div>
</div>
{% endblock %}