<section id="main">
	<div class="header">
		<h1>Problem Set</h1>
		<h2>You have to believe in yourself. That's the secret of success.</h2>
	</div>
	<div class="content">
		<style>
			.custom-restricted {
				width: 100%;
				border: 1px solid gray;
				border-radius: 4px;
				overflow-x: scroll;
			}

			#level-list li {
				cursor: pointer;
			}

			.problem-tag {
				width: 30%;
				display: inline-block;
				float: right;
			}
		</style>
		<div class="pure-g" id="level-list">
			<div class="pure-u-1 pure-u-lg-6-24">
				<div class="pure-menu custom-restricted" data-intro="每周的課程章節" data-step="11">
					<span class="pure-menu-heading"></span>

					<ul>
						{% for problem in problems %}
						<li class="pure-menu-item">
							<a>
								{{ problem["id"] }}. {{ problem["title"] }}
							</a>
						</li>
						{% endfor %}
					</ul>

				</div>
			</div>
			<div class="pure-u-1 pure-u-lg-1-24">
			</div>
			<div class="pure-u-1 pure-u-lg-17-24">
				<h3>Problem List</h3>
				<div class="pure-u-1-1" id="level-content">
					{% for problem in problems %}
					<div>
						<div>
							<h3 class="custom-mf-title"><a>{{ problem["title"] }}</a></h3><span class="problem-tag">
								<div class="meter" title="{{ problem["WA"] }} WA><span style="width: {{ problem["WA"]//(AC + problem["WA"]) }}%"></span></div>
										title="problem["AC"]AC"></span></div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		.meter {
			height: 12px;
			background: #EE0000;
		}

		.meter>span {
			display: block;
			height: 100%;
			background-color: #00EE00;
			position: relative;
			overflow: hidden;
		}
	</style>
	</script>
</section>