<section id="main">
	<div class="header">
		<h1>{{ problem["title"] }}</h1>
		<h2>I'm a slow walker, but I never walk backwards.</h2>
	</div>
	<div class="content">
		<h2>Task Description</h2>
		<p> {{ problem["description"] }}</p>
		<h2>Input Format</h2>
		<p> {{ problem["input_format"] }}</p>
		<h2>Output Format</h2>
		<p> {{ problem["output_format"] }}</p>
		<h2>Sample Input</h2>
		<p> {{ problem["sample_input"] }}</p>
	</div>
	<div>
		<h2>Submit</h2>
	</div>
	<h2>Testdata Set</h2>
	<a>Download Testdata</a>

	<ul>
		{% for index, test in problem["testcases"] %}
		<a>
			<li>Subtask {{ index }}: 1.0s, 64MB</li>
		</a>
		{% endfor %}
	</ul>
</section>