<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <form method="post" class="div-2">
        <div class="div-3">註冊</div>
        <div class="div-4">輸入帳號名稱及密碼</div>
        <div class="box">
            <div class="div-5">
                <div class="div-6">帳號名稱</div>
                <input type="text" class="form-text-area" placeholder="請輸入帳號" name="username">
            </div>
            <div class="div-7"></div>
        </div>
        <div class="box">
            <div class="div-5">
                <div class="div-6">信箱</div>
                <input type="text" class="form-text-area" placeholder="請輸入帳號" name="email">
            </div>
            <div class="div-7"></div>
        </div>
        <div class="box">
            <div class="div-5">
                <div class="div-6">密碼</div>
                <input type="password" class="form-text-area" placeholder="請輸入密碼" name="password"></input>
            </div>
            <div class="div-7"></div>
        </div>
        <div class="box">
            <div class="div-5">
                <div class="div-6">確認密碼</div>
                <input type="password" class="form-text-area" placeholder="請輸入密碼" name="checkPassword"></input>
            </div>
            <div class="div-7"></div>
        </div>
        <input type="submit" class="div-13" value="註冊", name="submit">
    </form>
</body>

</html>